
.outline-text-2, .outline-text-3, .outline-text-5, .outline-3 > ul, .outline-4 > ol, #text-footnotes {
	margin-left: 50px;
}

#minitoc {
    display: none;
}

#left-panel-button {
    display: none;
}

#content {
    max-width: 1500px;
}


div.outline-3 {
    float: left;
    min-width: 40%;
}


#outline-container-mainNote,
#outline-container-unixNote,
#outline-container-winNote,
#outline-container-gitIntroNote,
#outline-container-gitTermNote,
#outline-container-gitAppNote {
    max-height: 600px;
    overflow: scroll;
}
